</body>


<div class="footer-padding"></div>
  <div class="footer">

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div>Copyright 2020</div>
      <div><form class="" action="/resetDB" method="post">
   <button type="submit" name="button" id="resetFooter">Reset Project</button>  </form> </div>
   <div><p>Project by <a href="https://cwavedave.com">David Vaughan</a> | <a href="https://creative-wavelength.com">Creative Wavelength</a></p> </div>
    </nav>

  </div>

</html>
