</div>
</body>


<div class="footer-padding"></div>
  <div class="footer">

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand" href="#">Fixed bottom</a>
      <p>Copyright 2020</p>
    </nav>

  </div>

</html>
