<header>

<h3>Registered users</h3>
</header>
<div class="bottomThird">
  <div class="gravContainer">

    <% users.forEach(function(user) { %>

      <div class="gravSnippetContainer">
       <section class="userGravatar">
          <img class="gravatar" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=retro">
       </section>

      <section class="userName">
         <h6>username: <%=user.username%></h6>
         <p>
           number of posts: <%=user.posts.length %>
           <br>
            <a href="/">view posts here</a>
             </p>
        </section>
        </div>
        <% }) %>

   </div>




</div>
