<div id="welcomeBar">

<section class="welcome">
<% if (username !== undefined) { %>
    <% return "<div class='welcome'>Welcome <b>" + username.username + "</b></div>" %>
    <%}  else { %>
    <% return "<div class='welcome'>Please <a href='/login'> login</a> or <a href='register'>register</a></div>" %>
    <% } %>
</section>
</div>
