<%- include("partials/header") -%>

<div class="bodyContainer">
  <div class="bg-light">

<h2> About this project</h2>
<p>
  This is an expansion of the basic blog site tutorial from <a href="https://www.appbrewery.co/"> App Brewery </a>
  <br />
  I wanted to take the core concepts learned and expand on them whilst combining the CSS grid to make the project look the part.
  <br />
  I got the idea of combining the unsplash API with the posts to pull in some images for the blog posts.
  <br>Then I decided to just play around with the idea of automated blog generation content with the lorem ipsum filler for placeholder text </br>
  I also expanded on the Mongoose find section of the project, by adding in a feature blog post which finds the latest post and features it as the main post, seperate to the loop for the other posts.
  <br> Overall while I feel I could just keep adding and adding mini features, I feel enough time has been spent on this project for now and want to move on <br />
  But its definitely been a worthwhile project and I'm much more confident with Node.js / express.js / mongoose and Javascript in general now
  </p>

<h2> Languages / Frameworks / Database used</h2>
<ul>
  <li>Node.js</li>
  <li>Express.js</li>
  <li>MongoDB</li>
  <li>mongoose</li>
</ul>

<h2> Packages used </h2>
<ul>
  <li>bodyParser</li>
  <li>countrycitystatejson</li>
  <li>ejs</li>
  <li>lodash</li>
</ul>

<H2>About Me</H2>

<p>
  Hi I'm Dave.
  I'm a freelance Website Developer - almost FullStack - currently based in Spain. <br />
  I'm open to remote work or if the job is right - full time employment. <br />
  I've been developing and designing websites with Wordpress for a few years now and hugely confident on it <br />
  Though I feel like its now to take the next step in my web development career and this is why I'm now focused on learning more everyday

  </p>
</div>
</div>

<%- include("partials/footer") -%>
