<%- include("partials/header") -%>


  <div class="bodyContainer">

  <section class="main">

  </section>

  <section class="sideBlogBar">
   <!--- Placeholder text here --->


  </section>

  </div>

  <%- include("partials.footer") -%>
