<%- include("partials/header") -%>


<title>Search </title>
</head>

<body>
  <div class="bodyContainer">

  
</div>

  <section class="sideBlogBar">
   <!--- Placeholder text here --->


  </section>


<%- include("partials/footer") -%>
