nav {
  padding: 10px 3%!important;
}

body {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 20%, rgba(245,245,245,1) 40%, rgba(240,240,240,1) 60%, rgba(235,235,235,1) 80%, rgba(230,230,230,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 20%, rgba(245,245,245,1) 40%, rgba(240,240,240,1) 60%, rgba(235,235,235,1) 80%, rgba(230,230,230,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 20%, rgba(245,245,245,1) 40%, rgba(240,240,240,1) 60%, rgba(235,235,235,1) 80%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 15px 3%!important;
  background: transparent!important;
  margin-bottom: -70px;
  z-index: 9999;
}

.navbar a{
  color:white;
  text-shadow: 1px 1px rgb(40,40,40,0.5);
  font-weight: 600;
  text-transform: uppercase;
}

.navbar a:hover{
  color: snow;
  text-shadow: 2px 2px rgb(40,40,40,0.5);
  border-bottom: thin solid white;
  border-width: 75%;
}

body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

#secondNav {
  background-color:rgb(0,0,0,0.3);
  height: 60px;
}

#breadCrumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0% 5%;
}

.CTABlog {
  margin-left: auto;
  align-self: center;
  border: medium solid white;
  padding: 5px;
  text-decoration: none;
  color: snow;
  border-radius: 5px;
  text-shadow: 2px 2px rgb(40,40,40,0.5);
}

.CTABlog:hover  {
  margin-left: auto;
  align-self: center;
  border: medium solid white;
  background: green;
  text-decoration: none!important;
  color: white!important;
}

.breadCrumbs {
  margin: 5px 15px;
  color:white;
}

.breadCrumbs a {
  color:white;
}

.featureImageContainer {
  background-color: lightgrey;
  z-index: 2;
  width: inherit;
  max-width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  min-height: 300px;
  max-height:650px;
}


#featureImage {
  margin: 0;
  width: 100%;
  position: relative;
  background-size: cover!important;
  z-index: 2!important;
  min-height: 576px;
  max-height: 650px;
}

#featureTitleContainer {
  padding: 15px;
  text-align: center;
  background-image: linear-gradient(to top, rgb(0,0,0), rgb(20,20,20,0.7), rgb(180,180,180,0.3), rgb(255,255,255,0));  margin: auto;
  position: absolute;
  color:white;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 3;
}

#featureTitle {
  position: absolute;
  bottom: 5%;
  left: 50px;
  right: 50px;
  text-align: center;
  margin: auto;
  font-size: 3.5vw;
  width: 75%;
}

.imageContainer {
  min-height: 200px;
  max-height: 300px;
  z-index: 2;
width: inherit;
max-width: 100%;
background-repeat: no-repeat;
position: relative;
background-size: cover;
background-position: center;
}


.imageImported {
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-size: cover;
  z-index: 2!important;
  min-height: 200px;
  max-height: 300px;
}


@media only screen and (max-width: 980px) {
  #featureImage {
    min-height: 250px;
  }
  .featureImageContainer {
    min-height:250px;
  }
}

.imageImportedLarge {
  margin: 0;
  width: 100%;
  max-width: 100%;
  max-height: 40vh;
  position: relative;
  background-size: cover;
  z-index: -1!important;
  top:0;
  right: 3%;
  left: 0;
  border: thick inset lightgrey;
  border-top: none;
}

.loaded .heroBlog .imageImportedLarge {
  transform: scale(1);
  transition: 7.5s transform;
}

.heroBlog .imageImportedLarge {
  width: 100%;
  max-width: 1400px;
  margin: auto auto!important;
 position: absolute;
 z-index: 1;
 transform: translate3d(0,0,0) scale(1.25);
 background-size: cover;
}

#CTA {
  background-color: transparent;
  border: medium solid green;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border-radius:6px;
  font-weight: 700;
  color: white;
}


#CTA:hover {
  background-color: green;
  border: medium solid white;
  text-decoration: none;
  color: snow;
  text-shadow: 1px 1px 3px rgb(0,0,0,0.5);
}


#featureContent {
  font-size:.9rem;
  margin: auto;
  margin-bottom:.5rem;
  max-width: 600px;
  color: lightgrey;
  }

#featuredDate {
  font-size: .8rem;
  text-decoration: underline;
  margin: 0; }

  #searchBar {
    width: 100%;
  }

  #searchBarSection
  {
    width: 400px;
    margin: 0 auto;
    padding: 45px 0 75px 0;
    text-align: center;
  }

.bodyContainer {
  margin: 3% 3%;
  min-height: 100vh;
  max-width: 1200px;
}
.featuredPost {
  min-width: 320px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height:100vh;
  background: black;
}

.featuredImage {
  max-width: 100%;
  z-index: 0;
  width: inherit;
}

#featuredTitle {
  color:white;
  padding: 15px;
  background: black;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows:    1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.blogSnippetContainer {
  width: inherit;
  border: thin solid lightgrey;
  position: relative;
  -webkit-box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  -moz-box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  border: medium transparent solid!important;
}

.blogSnippetContainer:hover {
  box-shadow: -1px 0px 28px 2px rgba(40,40,40,0.32);
}

.gravContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows:    1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.gravSnippetContainer {
  width: inherit;
  background-color: white;
  border: thin solid lightgrey;
  position: relative;
  -webkit-box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  -moz-box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
}

.heroBlog {
  margin: 0 auto;
  position: relative;
  max-height: 100vh;
}

#featuredTitle {
  width: 100%;
  max-width: 100%;
  position: relative;
  background-size: cover;
}


.imageImported:hover {
  opacity: .6;
}

.imageHeroh2 {
  left: auto;
  right:auto;
  position: absolute;
  z-index: 1;
}

.blogContent {
  background-color: white;
  padding: 3% 5%;
  border: thin solid lightgrey;
  -webkit-box-shadow: -1px 5px 68px 2px rgba(181,181,181,0.6);
  -moz-box-shadow: -1px 5px 68px 2px rgba(181,181,181,0.6);
  box-shadow: -1px 5px 68px 2px rgba(181,181,181,0.6);
  z-index: 4;
  min-height: 50vh;
  max-height: 75vh;
  width: 87%;
  position: fixed;
  top:20%;
  left: 5%;
  right: 5%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;

}

.formSubmit {
  padding: 15px;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.generation {
  padding: 15px;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#formFinal {
  margin-top:45px;
  display: flex;
  flex-direction: column;
}

#randomTitleGeneration {
   background-color: tomato;
   color:white;
   padding: 15px;
   margin: 10px;

}

#loremTextButton {
   background-color: teal;
   color:White;
   padding: 15px;
   margin: 10px;
}

.formSubmit {
  margin-top:45px;
  display: flex;
  flex-direction: column;
}
.spanLocation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: white;
  border-radius: 0 0 0px 25px;
  z-index:999;
}

.blogSnippetTitle {
  /* background: rgb(230,230,230);
  background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(247,247,247,1) 50%, rgba(252,252,252,1) 100%); */
  background: tomato;
  padding: 15px;
  color: white;
  text-transform: capitalize;
}

.blogSnippetHeader {
font-size: min(max(16px, 4vw), 22px);
}

.blogSnippetContent {
  padding: 15px;
}

.blogSnippetCategory {
  padding: 10px;
  padding: 15px 15px 15px 15px;
}


@media only screen and (max-width: 750px) {
  .blogContent {
    position: fixed;
    top:15%;
  }
}


@media only screen and (min-width: 1260px) {
  .bodyContainer {
    margin: 2.5% auto;
  }
}

#datePost {
  font-size:.8rem;
  padding: 10px 0;
  border-bottom: thin solid lightgrey;
}

#space {
  padding: 25px;
  }

.bottomThird {
  background: whitesmoke!important;
  padding: 15px;

}

.gravatar {
  float:left;
  padding: 15px;
}

.userName {
  padding: 15px;
}

.bottomCta {
  text-align: center;
  margin-top: 75px;
  padding: 25px;
  margin-bottom: 0;
  background-color:lightgrey;
  border: thin solid lightgrey;
  border-radius: 3px;
}

.footer-padding {
  margin-top: 45px;
  padding-top: 45px;
}
