nav {
  padding: 10px 3%!important;
}

body {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 20%, rgba(245,245,245,1) 40%, rgba(240,240,240,1) 60%, rgba(235,235,235,1) 80%, rgba(230,230,230,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 20%, rgba(245,245,245,1) 40%, rgba(240,240,240,1) 60%, rgba(235,235,235,1) 80%, rgba(230,230,230,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 20%, rgba(245,245,245,1) 40%, rgba(240,240,240,1) 60%, rgba(235,235,235,1) 80%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);
  background-repeat: no-repeat;
  background-size: cover;
}

body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

.loaded .heroBlog .imageImportedLarge {
  transform: scale(1);
  transition: 7.5s transform;
}

.heroBlog .imageImportedLarge {
  width: 100%;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 1;
 transform: translate3d(0,0,0) scale(1.25);
 background-size: cover;
}

#featureImage {
  min-height:300px;
  margin: 0;
  width: 100%;
  max-width: 1600px;
  position: relative;
  background-size: cover!important;
  z-index: 2!important;
  min-height: 576px;
  max-height: 900px;
}

.featureImageContainer {
  background-color: lightgrey;
  z-index: 2;
  width: inherit;
  max-width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  min-height: 300px;
}

@media only screen and (max-width: 980px) {
  #featureImage {
    min-height: 150px;
  }
  .featureImageContainer {
    min-height:150px;
  }
}



.imageImported {
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-size: cover;
  z-index: 2!important;
  min-height: 250px;
  max-height: 300px;
}

.imageImportedLarge {
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-size: cover;
  z-index: 2!important;
}

#CTA {
  background-color: transparent;
  border: medium solid green;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border-radius:6px;
  font-weight: 700;
  color: white;
}


#CTA:hover {
  background-color: green;
  border: medium solid white;
  text-decoration: none;
  color: snow;
  text-shadow: 1px 1px 3px rgb(0,0,0,0.5);
}


#featureContent {
  font-size:.9rem;
  margin: 0;
  margin-bottom:.5rem;}

#featuredDate {
  font-size: .8rem;
  text-decoration: underline;
  margin: 0; }

.bodyContainer {
  margin: 3% 3%;
  min-height: 100vh;
  max-width: 1600px;
}

@media only screen and (min-width: 1660px) {
  .bodyContainer {
    margin: 2.5% auto;
  }
}
.featuredPost {
  min-width: 320px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;

}

.featuredImage {
  max-width: 100%;
  z-index: 0;
  width: inherit;
}

#featuredTitle {
  position: absolute;
  bottom:0;
  color:white;
  padding: 15px;
  background-color: rgb(0,0,0,.8);
  width:100%;
  text-align: center;
  font-size: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows:    1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.blogSnippetContainer {
  width: inherit;
  background-color: white;
  border: thin solid lightgrey;
  position: relative;
  -webkit-box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  -moz-box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
  box-shadow: -1px 0px 68px 2px rgba(181,181,181,0.42);
}

.imageContainer {
  min-height: 250px;
  max-height: 300px;
  z-index: 2;
width: inherit;
max-width: 100%;
background-repeat: no-repeat;
position: relative;
background-size: cover;
background-position: center;
}


.heroBlog {
  margin: 0;
  position: relative;
}

#featuredTitle {
  width: 100%;
  max-width: 100%;
  position: relative;
  background-size: cover;
}


.imageImported:hover {
  opacity: .6;
}

.imageHeroh2 {
  left: auto;
  right:auto;
  position: absolute;
  z-index: 1;
}

.blogContent {
  background-color: white;
  padding: 3% 5%;
  border: thin solid lightgrey;
  -webkit-box-shadow: -1px 5px 68px 2px rgba(181,181,181,0.6);
  -moz-box-shadow: -1px 5px 68px 2px rgba(181,181,181,0.6);
  box-shadow: -1px 5px 68px 2px rgba(181,181,181,0.6);
  z-index: 4;
  min-height: 80vh;
  max-height: 100%;
  width: 87%;
  position: fixed;
  top:20%;
  left: 5%;
  right: 5%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

@media only screen and (max-width: 750px) {
  .blogContent {
    position: fixed;
    top:15%;
  }
}

.spanLocation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: white;
  border-radius: 0 0 0px 25px;
  z-index:999;
}

.blogSnippetTitle {
  background: rgb(230,230,230);
  background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(247,247,247,1) 50%, rgba(252,252,252,1) 100%);
  padding: 15px;
  color: grey;
  text-transform: capitalize;
}

.blogSnippetContent {
  padding: 15px;
}

.blogSnippetCategory {
  padding: 10px;
  padding: 15px 15px 15px 15px;

}
